<footer class="page-footer blue-grey lighten-1 grid-footer">
  <div class="footer-copyright">
    <div class="container">
      2018 <a class="grey-text text-lighten-3" href="http://materializecss.com">daggerok</a>
    </div>
  </div>
</footer>
