/* CSS Grid: begin */

.grid-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-areas:
      "grid-header"
      "grid-main-content"
      "grid-footer";
}

.grid-header {
  grid-area: grid-header;
}

.grid-main-content {
  grid-area: grid-main-content;
}

.grid-footer {
  grid-area: grid-footer;
}

/* CSS Grid: end */

.transparent-radius-border {
  border: none;
  border-radius: 50%;
}
