{{#user}}
  <ul class="collection">
    <li class="collection-item dismissable"><div>id: <span class="secondary-content">{{id}}</span></div></li>
    <li class="collection-item dismissable"><div>username: <span class="secondary-content">{{username}}</span></div></li>
    <li class="collection-item dismissable"><div>url<a href="/profiles/{{username}}" class="secondary-content"><i class="material-icons">send</i></a></div></li>
  </ul>
{{/user}}
