{{>layout/start}}

<body class="grid-container">

<nav>
  <div class="nav-wrapper grid-header">
    <a href="/" class="brand-logo">&nbsp; Mailbox</a>
    <a href="/" data-activates="mobile-menu" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
    <ul class="side-nav" id="mobile-menu">
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>

<div class="grid-main-content">
  <div class="container">

    <h5>
      <!-- 2: replace principle with project user domain model -->
      hey, {{#currentUser}}{{currentUser.username}} ({{currentUser.id}}){{/currentUser}}!
    </h5>

    <div class="row">
      <form class="col s12" action="/" method="post">
        <div class="row">
          <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input autofocus
                   id="username"
                   name="username"
                   type="text"
                   class="validate">
            <label for="username">Enter username</label>
          </div>
          <div class="input-field col s6">
            <button id="icon_telephone"
                    type="submit"
                    class="validate transparent-radius-border">
              <i class="material-icons">done</i>
            </button>
          </div>
        </div>
        <!-- CSRF: see daggerok.web.config.SecurityAdvice.csrfToken -->
        <input type="hidden" name="_csrf"
               value="{{#_csrf}}{{_csrf.token}}{{/_csrf}}">
      </form>
    </div>

    <h6>maybe mine users</h6>
    <ul>
      {{#createdByMe}}
        <li>{{#id}}{{id}}{{/id}} - {{#username}}{{username}}{{/username}}</li>
      {{/createdByMe}}
    </ul>

    <h6>all users</h6>
    <ul>
      {{#users}}
        <li>{{id}} - {{username}}</li>
      {{/users}}
    </ul>
  </div>
</div>

<footer class="page-footer blue-grey lighten-1 grid-footer">
  <div class="footer-copyright">
    <div class="container">
      2018 <a class="grey-text text-lighten-3" href="http://materializecss.com">daggerok</a>
    </div>
  </div>
</footer>

{{>layout/end}}
